# local path for tests
.circleci/local_xcpd_path.txt

# documentation
docs/api/
docs/generated/
docs/_build
docs/*.dot
docs/etc/
docs/args.txt
xcp_d/data/ds001419-example/
xcp_d/data/ds001419-example.tar.gz

# other stuff
xcp_surface/.DS_Store
.DS_Store
*.pyc
*.pyc
.eggs
.Rhistory
*.egg-info
.vscode
xcp_d/notebooks/.ipynb_checkpoints/restingstate-checkpoint.ipynb
xcp_d/data/*.scene.gz
