<!--
    Make a section for static anatomical registration images.

    Inputs:
    - structural_files{image_type}{"registration_files"}[]
    - structural_files{image_type}{"registration_titles"}[]
-->
<section id="Anat">
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-center"><h2>Anatomical Data</h2></div>
        </div>
        {% for img_type in structural_files.keys() %}

            {% set registration_files = structural_files[img_type]["registration_files"] %}
            {% for i_img in range(registration_files | length) %}
                {% set registration_file = registration_files[i_img] %}
                {% set registration_title = structural_files[img_type]["registration_titles"][i_img] %}
                <div class="w3-row-padding">
                    <div class="w3-col l1 label2">{{ registration_title }}</div>

                    <div class="w3-col l11">
                    {% if registration_file != "None" %}
                        <img src="{{ registration_file }}" onclick="open_regs_modal_to_index({{ ns.registrations_counter }})">
                        {% set ns.registrations_counter = ns.registrations_counter + 1 %}
                    {% else %}
                        <div class="w3-container w3-pale-red label3">Image Not Available</div>
                        <div class="w3-container w3-pale-red label3"><br></div>
                    {% endif %}
                    </div>

                </div>
            {% endfor %}

        {% endfor %}

        <button class="w3-button w3-black w3-display-bottomleft w3-xxlarge" onclick="change_Registrations(-1)">
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="w3-button w3-black w3-display-bottomright w3-xxlarge" onclick="change_Registrations(1)">
            <i class="fas fa-angle-right"></i>
        </button>
        <button class="w3-btn w3-red w3-display-topright w3-large" onclick="document.getElementById('regs_modal').style.display='none'">
            <i class="fa fa-close"></i>
        </button>

    </div>
</section>
