<!--
    Make a section for static anatomical registration images.

    Inputs:
    - image_types
    - all_imgs{image_type}[]
    - titles
-->
<section id="Anat">
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-center"><h2>Anatomical Data</h2></div>
        </div>

        {% for img_type in image_types %}

            {% set imgs = all_imgs[img_type] %}
            {% set img_counter = 0 %}
            {% for i_img in range(imgs | length) %}
                {% set img = imgs[i_img] %}
                <div class="w3-row-padding">
                    <div class="w3-col l1 label2">{{ titles[i_img] }}</div>

                    <div class="w3-col l11">
                    {% if img != "None" %}
                        {% set img_counter = img_counter + 1 %}
                        <img src="{{ img }}" onclick="open_{{ img_type }}_slider_to_index(img_counter)">
                    {% else %}
                        <div class="w3-container w3-pale-red label3">Image Not Available</div>
                        <div class="w3-container w3-pale-red label3"><br></div>
                    {% endif %}
                    </div>

                </div>
            {% endfor %}

        {% endfor %}

    </div>
</section>
