<!--
    Make a section for T1 or T2.
    This will show the brainsprite viewer, with a label above it to identify T1 v T2,
    and a button that will open a modal window with a slider for the T1 or T2 pngs.

    Inputs:
    - image_types
    - brainsprite_labels
    - pngs_buttons
    - brainsprite_viewers
-->
<!--
    Loop over the modalities (T1/T2) and add their brainsprites.
-->
{% for image_type in image_types %}
    {% set mosaic_file = mosaic_files[image_type] %}
    {% set imgs = png_imgs[image_type] %}

    <section id="{{ image_type }}">

        <div class="w3-container">
            <div class="w3-cell w3-left label3">BrainSprite Viewer: {{ image_type }}</div>
            <div class="w3-cell w3-right">

                <button class="w3-btn w3-teal" onclick="open_{{ image_type }}_modal_to_index(1)">
                    View {{ image_type }} pngs
                </button>

            </div>
        </div>
        <div class="w3-container">

            <div w3-row w3-hide-small>
            <canvas id="{{ image_type }}-viewer" style="max-width: 100%">
            <img id="{{ image_type }}-spriteImg" class="hidden" src="{{ mosaic_file }}">
            </div>

        </div>

    </section>

    <!--Slice-wise PNGs-->
    <div id="{{ image_type }}_modal" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-content w3-display-container">

                {% for img in imgs %}
                    <div class="w3-display-container {{ image_type }}pngs">
                        <img src="{{ img }}">
                        <div class="w3-display-topleft w3-black"><p>{{ img | basename }}</p></div>
                    </div>
                {% endfor %}

                <button class="w3-button w3-black w3-display-bottomleft w3-xxlarge" onclick="change_{{ image_type }}pngs(-1)">
                    <i class="fas fa-angle-left"></i>
                </button>
                <button class="w3-button w3-black w3-display-bottomright w3-xxlarge" onclick="change_{{ image_type }}pngs(1)">
                    <i class="fas fa-angle-right"></i>
                </button>

                <button class="w3-btn w3-red w3-display-topright w3-large" onclick="document.getElementById('{{ image_type }}_modal').style.display='none'">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>

{% endfor %}
