<section id="{{ image_type }}">
    <div class="w3-container">
        <div class="w3-cell w3-left label3"><h6>BrainSprite Viewer: {{ image_type }}</h6></div>
        <div class="w3-cell w3-right">
            {{ pngs_button }}
        </div>
    </div>
    <div class="w3-container">
        <div w3-row w3-hide-small>
            <canvas id="{{ image_type }}-viewer" style="max-width: 100%">
            <img id="{{ image_type }}-spriteImg" class="hidden" src="{{ mosaic_path }}">
        </div>
    </div>
</section>

<script>
    $( window ).load(function() {
        var brain{{ image_type }} = brainsprite({
            canvas: "{{ image_type }}-viewer",
            sprite: "{{ image_type }}-spriteImg",
            nbSlice: { 'Y':218 , 'Z':218 },
            flagCoordinates: true,
        });
    });
</script>

<script>
    var {{ image_type }}pngsIdx = 1;
    show_{{ image_type }}pngs({{ image_type }}pngsIdx)

    function change_{{ image_type }}pngs(n) {
        show_{{ image_type }}pngs({{ image_type }}pngsIdx += n)
    }

    function show_{{ image_type }}pngs(n) {
        var i;
        var x = document.getElementsByClassName("{{ image_type }}pngs");
        if (n > x.length) { {{ image_type }}pngsIdx = 1 }
        if (n < 1) { {{ image_type }}pngsIdx = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[{{ image_type }}pngsIdx-1].style.display = "block";
    }

    function open_{{ image_type }}_modal_to_index(idx) {
        show_{{ image_type }}pngs({{ image_type }}pngsIdx = idx)
        document.getElementById("{{ image_type }}_modal").style.display='block'
    }
</script>

