<div class="w3-row-padding">
    <div class="w3-col l1 label2"><br>Combined Resting State Data</div>

        <div class="w3-quarter">
            <div class="w3-row w3-center label1">Pre-Regression</div>
            <div class="w3-row"><img src="{{ prereg_img }}" onclick="open_img_modal_to_index(1)"></div>
        </div>

        <div class="w3-quarter">
            <div class="w3-row w3-center label1">Post-Regression</div>
            <div class="w3-row"><img src="{{ postreg_img }}" onclick="open_img_modal_to_index(2)"></div>
        </div>

    </div>
</div>
