<div id="img_modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-content w3-display-container">

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_ses-PNC1_task-frac2back_bold.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_ses-PNC1_task-frac2back_bold.png</p></div>
            </div>

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_task-frac2back01_ref.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_task-frac2back01_ref.png</p></div>
            </div>

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_ses-PNC1_task-idemo_bold.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_ses-PNC1_task-idemo_bold.png</p></div>
            </div>

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_task-idemo01_ref.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_task-idemo01_ref.png</p></div>
            </div>

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_ses-PNC1_task-rest_acq-singleband_bold.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_ses-PNC1_task-rest_acq-singleband_bold.png</p></div>
            </div>

            <div class="w3-display-container Images">
                <img src="img/sub-3840308617_task-rest01_ref.png">
                <div class="w3-display-topleft w3-black"><p>sub-3840308617_task-rest01_ref.png</p></div>
            </div>

            <button class="w3-btn w3-red w3-display-topright w3-large"
                onclick="document.getElementById('img_modal').style.display='none'"><i class="fa fa-close"></i></button>
        </div>
    </div>
</div>
