<!--
    Script sections with Javascript snippets.
    1. BrainSprite: brainsprite(params)
    2. jquery import
    3. another jquery import
    4. var brainT1 = brainsprite()
    5. var brainT2 = brainsprite()
    6. change_T1pngs and show_T1pngs and open_T1_modal_to_index
    7. change_T2pngs and show_T2pngs and open_T2_modal_to_index
    8. show_Images and open_img_modal_to_index
    9. change_Registrations and show_Registrations and open_regs_modal_to_index
-->

<!--
    1. BrainSprite: brainsprite(params)

    Not sure if this will work.
-->
<script src="brainsprite.js"></script>

<!--
    2/3. JQuery imports.
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<!--
    4. var brainT1 = brainsprite()
    Modify sprite_load_script template for each image type.
-->
{{ sprite_load_script T1 }}

<!--
    5. var brainT2 = brainsprite()
    Modify sprite_load_script template for each image type.
-->
{{ sprite_load_script T2 }}

<!--
    6. change_T1pngs and show_T1pngs and open_T1_modal_to_index
-->
{{ slider_script T1 }}

<!--
    7. change_T2pngs and show_T2pngs and open_T2_modal_to_index
-->
{{ slider_script T2 }}

<!--
    8. show_Images and open_img_modal_to_index
    Seems to be used on the BOLD carpet plots, but isn't present in constants.
-->
{{ modal_script }}

<!--
    9. change_Registrations and show_Registrations and open_regs_modal_to_index
-->
