<!--
    The loader script to be run when then window loads. Put this
    with other scripts.

    TS: Seems to call the brainsprite function for a give image type.
-->
<script>
    $( window ).load(function() {
        var brain{{ image_type }} = brainsprite({
            canvas: "{{ image_type }}-viewer",
            sprite: "{{ image_type }}-spriteImg",
            nbSlice: { 'Y':218 , 'Z':218 },
            flagCoordinates: true,
        });
    });
</script>
