<!--
    Start the tasks section and  put in the column headings for the task-specific data.
-->
<section id="Tasks">
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-center"><h2>Functional Data</h2></div>
            <div>

                {% for i in range(len(imgs)) %}

                    {% assign task = imgs[i]["task"] %}
                    {% assign run = imgs[i]["run"] %}
                    {% assign task_in_t1w_img = imgs[i]["task_in_t1w_img"] %}
                    {% assign t1w_in_task_img = imgs[i]["t1w_in_task_img"] %}
                    {% assign bold_img = imgs[i]["bold_img"] %}
                    {% assign boldref_img = imgs[i]["boldref_img"] %}
                    {% assign prereg_img = imgs[i]["prereg_img"] %}
                    {% assign postreg_img = imgs[i]["postreg_img"] %}

                    <!--
                        Add the task name for the next few rows.
                    -->
                    <div class="w3-row">
                        <div class="w3-left label2">task-{{ task }} run-{{ run }}:</div>
                    <div class="w3-row">

                    <!--START-->
                    <!--Full Row-->
                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">{{ row_label }}</div>
                        <div class="w3-col l11">
                            {% if img_available %}
                                <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                            {% else %}
                                <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                <div class="w3-container w3-pale-red label3"><br></div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">Task in T1</div>
                        <div class="w3-col l11"><img src="{{ task_in_t1w_img }}" onclick="open_regs_modal_to_index(5)"></div>
                    </div>
                    <!--END-->

                    <!--START-->
                    <!--Full Row-->
                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">{{ row_label }}</div>
                        <div class="w3-col l11">
                            <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                        </div>
                    </div>

                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">T1 in Task</div>
                        <div class="w3-col l11"><img src="{{ t1w_in_task_img }}" onclick="open_regs_modal_to_index(6)"></div>
                    </div>
                    <!--END-->

                    <div class="w3-row-padding">
                        <div class="w3-half">

                            <!--START-->
                            <!--Half Row-->
                            <div  class="w3-row-padding">
                                <div class="w3-col l2 label2">{{ row_label }}</div>
                                <div class="w3-col l9">
                                    <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                                </div>
                            </div>

                            <div class="w3-row-padding">
                                <div class="w3-col l2 label2">BOLD</div>
                                <div class="w3-col l9"><img src="{{ bold_img }}" onclick="open_img_modal_to_index(3)"></div>
                            </div>
                            <!--END-->

                            <!--START-->
                            <!--Half Row-->
                            <div  class="w3-row-padding">
                                <div class="w3-col l2 label2">{{ row_label }}</div>
                                <div class="w3-col l9">
                                    <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                                </div>
                            </div>

                            <div class="w3-row-padding">
                                <div class="w3-col l2 label2">Reference</div>
                                <div class="w3-col l9"><img src="{{ boldref_img }}" onclick="open_img_modal_to_index(4)"></div>
                            </div>
                            <!--END-->

                        </div>

                        <!--START-->
                        <!--Quarter Row-->
                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">{{ row_label }}</div>
                            <div class="w3-row">
                                <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                            </div>
                        </div>

                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">Pre-Regression</div>
                            <div class="w3-row"><img src="{{ prereg_img }}" onclick="open_img_modal_to_index(5)"></div>
                        </div>
                        <!--END-->

                        <!--START-->
                        <!--Quarter Row-->
                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">{{ row_label }}</div>
                            <div class="w3-row">
                                <img src="{{ row_img }}" onclick="open_{{ row_modal }}_to_index({{ row_idx }})">
                            </div>
                        </div>

                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">Post-Regression</div>
                            <div class="w3-row"><img src="{{ postreg_img }}" onclick="open_img_modal_to_index(6)"></div>
                        </div>
                        <!--END-->
                    </div>

                {% endfor %}

            </div>
        </div>
</section>
