<!--
    Start the tasks section and  put in the column headings for the task-specific data.

    Inputs:
    - tasks[]
    - runs[]
    - task_in_t1w_imgs[]
    - t1w_in_task_imgs[]
    - bold_imgs[]
    - boldref_imgs[]
    - prereg_imgs[]
    - postreg_imgs[]
-->
<section id="Tasks">
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-center"><h2>Functional Data</h2></div>
            <div>
                {% for i in range(tasks | length) %}

                    {% set task = tasks[i] %}
                    {% set run = runs[i] %}
                    {% set task_in_t1w_img = task_in_t1w_imgs[i] %}
                    {% set t1w_in_task_img = t1w_in_task_imgs[i] %}
                    {% set bold_img = bold_imgs[i] %}
                    {% set boldref_img = boldref_imgs[i] %}
                    {% set prereg_img = prereg_imgs[i] %}
                    {% set postreg_img = postreg_imgs[i] %}

                    <!--
                        Add the task name for the next few rows.
                    -->
                    <div class="w3-row">
                        <div class="w3-left label2">task-{{ task }} run-{{ run }}:</div>
                    <div class="w3-row">

                    <!--START-->
                    <!--Full Row-->
                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">Task in T1</div>
                        <div class="w3-col l11">
                            {% if task_in_t1w_img != "None" %}
                                <img src="{{ task_in_t1w_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                            {% else %}
                                <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                <div class="w3-container w3-pale-red label3"><br></div>
                            {% endif %}
                        </div>
                    </div>
                    <!--END-->

                    <!--START-->
                    <!--Full Row-->
                    <div class="w3-row-padding">
                        <div class="w3-col l1 label2">T1 in Task</div>
                        <div class="w3-col l11"></div>
                            {% if t1w_in_task_img != "None" %}
                                <img src="{{ t1w_in_task_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                            {% else %}
                                <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                <div class="w3-container w3-pale-red label3"><br></div>
                            {% endif %}
                        </div>
                    </div>
                    <!--END-->

                    <div class="w3-row-padding">
                        <div class="w3-half">

                            <!--START-->
                            <!--Half Row-->
                            <div  class="w3-row-padding">
                                <div class="w3-col l2 label2">BOLD</div>
                                <div class="w3-col l9">
                                    {% if bold_img != "None" %}
                                        <img src="{{ bold_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                                    {% else %}
                                        <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                        <div class="w3-container w3-pale-red label3"><br></div>
                                    {% endif %}
                                </div>
                            </div>
                            <!--END-->

                            <!--START-->
                            <!--Half Row-->
                            <div  class="w3-row-padding">
                                <div class="w3-col l2 label2">Reference</div>
                                <div class="w3-col l9">
                                    {% if boldref_img != "None" %}
                                        <img src="{{ boldref_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                                    {% else %}
                                        <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                        <div class="w3-container w3-pale-red label3"><br></div>
                                    {% endif %}
                                </div>
                            </div>
                            <!--END-->

                        </div>

                        <!--START-->
                        <!--Quarter Row-->
                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">Pre-Regression</div>
                            <div class="w3-row">
                                {% if prereg_img != "None" %}
                                    <img src="{{ prereg_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                                {% else %}
                                    <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                    <div class="w3-container w3-pale-red label3"><br></div>
                                {% endif %}
                            </div>
                        </div>
                        <!--END-->

                        <!--START-->
                        <!--Quarter Row-->
                        <div class="w3-quarter">
                            <div class="w3-row w3-center label1">Post-Regression</div>
                            <div class="w3-row">
                                {% if postreg_img != "None" %}
                                    <img src="{{ postreg_img }}" onclick="open_{{ row_modal }}_modal_to_index({{ row_idx }})">
                                {% else %}
                                    <div class="w3-container w3-pale-red label3">Image Not Available</div>
                                    <div class="w3-container w3-pale-red label3"><br></div>
                                {% endif %}
                            </div>
                        </div>
                        <!--END-->
                    </div>

                {% endfor %}

            </div>
        </div>
</section>
